@import 'tailwindcss';

@layer base {
	body {
		@apply overflow-hidden bg-slate-900 text-slate-200;
	}
}

@layer utilities {
	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(-0.5rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.animate-fade-in {
		animation: fade-in 0.3s ease-out;
	}
}

